.info_box {
    position: relative;
}

.info_box_waterdrop {
    position: absolute;
    top:0;
    width:100%;
}

.info_box_waterdrop_img {
    top:0;
    margin-right: 10%;
    width: 10%;
    float:right;
}

.info_box_waterdrop:hover {
    cursor: pointer;
}

.info_box_waterdrop:hover .info_box_waterdrop_img {
    opacity: 0.5;
}

.info_box_msg {
	position:absolute;
    bottom:-40%;
	right:10%;
    display: none;
}

.info_box_waterdrop:hover .info_box_msg {
    right: 15%;
    display: block;
    text-align: center;
}

.info_box_popup {
    display: none;
    width: 400px;
    color: #000000;
    background-color: #71BABF77;
    text-align: left;
    border-radius: 8px;
    border: none;
    padding: 8px;
    position: absolute;
    right: 0;
    z-index: 1;
    padding: 20px;
    top: 20%;
}