*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*--------- INTRODUCTION TEXT ---------*/
#intro-div{
	height: 100vh;
}
.vital {
  padding-left: 360px;
  padding-right: 360px;
  text-align: justify;
  margin-top:40px;
}

.vital2 {
  padding-left: 360px;
  padding-right: 360px;
  text-align: justify;
  margin-top: 10px;
}


/*-------GENERAL-------*/
html,body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 20px;
  cursor: crosshair;
  scroll-behavior: smooth;
}

/* header { */
  /* width: 100%; */
  /* height: 100vh; */
  /* background-color: #222; */
  /* float: left; */
/* } */

section{
  width: 100%;
  min-height: 100%;
  float: left;
  position: relative;
}

h3 {
  font-family: montserrat, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  color: lightgray;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 40px;
}

p {
  font-family: montserrat, sans-serif;
  font-style: normal;
  font-weight: 100;
  color: black;
  font-size: 15px;
  text-align: justify;
}


/*------- VIZ 1 SVG --------*/

.dataviz1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 84%;
  background-color: white;
  margin-top: 200px;
}


/*----- VIZ 1 TEAL TITLE ------*/

.title11 {
  font-size: 38px;
/*   text-align: center;  
  padding-top: 300px;
  padding-bottom: 380px; */
  color: white; 
}

.deep {  
/*   text-align: center;
  padding-bottom: 250px;
  margin-top: -455px; */
  color: white;
}

#teal-title{
	height: 100vh;
	background-color: #71BABF;
	margin-right: -200px;
	margin-left: -200px;
}

/*------ VIZ 1 PARAGRAPH ------*/

.viz1text {
	margin-top: 1110px;
	width: 70%;
	text-align: justify;
	padding-left: 360px;
	background-color: white;
}

.viz1text2 {
width: 70%;
text-align: justify;
padding-left: 360px;
background-color: white;
}

.viz1text3 {
width: 70%;
text-align: justify;
padding-left: 360px;
float: left;
background-color: white;
margin-bottom:100px;
margin-top:-1px;
}

/*-------- VIZ 2 SVG -------*/


/*-LEFT SIDE IMAGES-*/
.red{
  background-color: white;
  width: 50%;
  height: 100%;
  position: sticky;
  top: 0px;
}


/*-------------USA-------------*/
.datavizleft {
  position: sticky;
  height: 54%;
  width: 54%;
  display: block;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 283px;
}


/*-RIGHT SIDE IMAGES-*/
.scrolling{
  float: right;
  width: 50%;
  position: sticky;
  background-color: white;
}

#spacebottom {
  bottom: 20px;
}

a {
  width: 100%;
  height: 100%;
}

.dataviz2text {
  padding-left: 40px;
  padding-right: 210px;
  text-align: justify;
  font-size: 12.65px;
}

.scrolldrop {
  height: 50px;
  width: 50px;
  position: relative;
  margin-left: 200px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.scrolldrop:hover {
  opacity: 0.5;
}


/*-------OTHER COUNTRIES-------*/
.dataviz {
  position: relative;
  height: 54%;
  width: 54%;
  background-color: white;

}

/*---- VIZ 2 TEAL TITLE ----*/

#deepdive{
  margin-right: -200px;
  padding-top: 350px;
  padding-bottom: 350px;
  margin-left: -200px;
  color: white;
  background-color: #71BABF;
  margin-bottom:100px;
}

/*-----------VIZ 3-----------*/

#dataviz3 {
  width: 1230px;
  height: 670px;
  overflow: auto;
  padding-top:40px;
  min-width: 1000px;
}


#trending{
	padding-top:50px;
	height: 500px;
    width: 1470px;
    background-color: white;
}

.dataviz3h1 {
  font-family: montserrat, sans-serif;
  font-style: normal;
  font-weight: 600;
  color: pink;
  padding-top: 700px;
  text-align: center;
  font-size: 50px;
}

/*--------- ALL VIZ TITLES ----------*/

.title1 {
	font-size: 34px;
	text-align: center;
	color: #71BABF;
	margin-top: 23px;
	color: #71BABF;
}

/*------- INBETBWEEN VIZ 1 & 2 -------*/

.lastdrop{
  background-color: #71BABF;
  color: white;
  position: relative;
}

/*--------- VIZ 1 LINE ---------*/
.hr {
  color: #71BABF;
  text-align: center;
}

/*------ BOUNCING ARROWS --------*/

.downArrow{
  position: relative;
  left: 47%;
  right: 47%;
  top: -20%;
  cursor:crosshair;
}

#opening-arrow{
  position: absolute;
  left: 47%;
  right: 47%;
  top: 90%;
  cursor:crosshair;
}

.downArrow:hover {
 color:#85B645 ;
}

.downArrow2{
  position: relative;
  left: 0%;
  right: 46%;
  top: -10px;
}

.downArrow2:hover {
 color:#85B645 ;
}

.bounce {
  -moz-animation: bounce 3s infinite;
  -webkit-animation: bounce 3s infinite;
  animation: bounce 3s infinite;
}

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }

}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }

}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }

/*---- VIZ 3 LEFT  ---*/
}


#space1 {
    height:10%;
    background-color:#ff0000;
}