body {
  background: white;
  margin: 0rem;
}


header {
  width: 100%;
  padding: 0px 0px 0px 0px;
  margin-bottom:10%;
  /* background-color:#ff8888; */
  /* max-width: 100%; */
}


header video {
    top: 0px;
    left: 0px;
    bottom: 0px;	
    width: 100%;
	clip-path: url("#video-clipPath");
}

#my-svg {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    /* height: 100%; */
    padding-bottom: 0px;
    padding-top: 0px;
}


.ocean {
  font-family: "Century Gothic", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
}


.ocean2 {
  font-family: "Century Gothic", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 0px;
}

svg rect {
  fill: white;
}

